PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<db_username>:jfmT78omG9LAv8te@cluster0.dg7kdfu.mongodb.net/?appName=Cluster0
JWT_SECRET=7c82e6d94b0d885a5382b9a71f0dfc8b417e2b10a26d7c714ec5a5a1f6874b89
JWT_EXPIRES_IN=7d
ALLOWED_ORIGINS=http://localhost:5173,https://your-production-app.vercel.app