PORT=5000
NODE_ENV=production
MONGO_URI=mongodb+srv://beardeddomkang_db_user:jfmT78omG9LAv8te@cluster0.dg7kdfu.mongodb.net/celesticare?retryWrites=true&w=majority&authSource=admin
JWT_SECRET=c313571c4r3_sup3r_s3cur3_jwt_s3cr3t_k3y_2026
JWT_EXPIRES_IN=7d
ALLOWED_ORIGINS=https://celesticare-final.vercel.app,https://celesticare-final-k4r1ayylk-cranel62s-projects.vercel.app
BACKEND_URL=https://your-render-service.onrender.com
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=bb340a001@smtp-brevo.com
BREVO_SMTP_PASS=xsmtpsib-d6bc5a38e3db89d1f57a38b82a3b114b2bb38b56a13e63d908d3de48840dd5cf-IWXWf3JFdp7wngYX
BREVO_SENDER_EMAIL=beardeddomkang@gmail.com
BREVO_SENDER_NAME=CelestiCare